<p id="notice"><%= notice %></p>

<h1>Client Dashboards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_dashboards.each do |client_dashboard| %>
      <tr>
        <td><%= link_to 'Show', client_dashboard %></td>
        <td><%= link_to 'Edit', edit_client_dashboard_path(client_dashboard) %></td>
        <td><%= link_to 'Destroy', client_dashboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client Dashboard', new_client_dashboard_path %>
